.data {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 24em;
  margin-top: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 24em;
  min-width: 20em;
  margin-top: 5em;
  transform: scale(1.5);
  margin-bottom: 3em;
}

.output {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: .2em;
}

:host .mat-slide-toggle.mat-checked ::ng-deep.mat-slide-toggle-bar::after {
  content: 'ON';
  font-size: 45%;
  font-weight: 700;
  color: black;
  position: absolute;
  left: 4px;
  top: -5px;
}

:host .mat-slide-toggle:not(.mat-checked) ::ng-deep.mat-slide-toggle-bar::after {
  content: 'OFF';
  font-size: 45%;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 21px;
  top: -5px;
}

.sended {
  width: 33%;
}

.label {
  width: 33%;
}

.selectPlace {
  display: flex;
  justify-content: center;
  margin: 2em;
}
