.data {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 24em;
  margin-top: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 24em;
  min-width: 20em;
  margin-top: 5em;
  transform: scale(1.5);
  margin-bottom: 3em;
}

.container-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 11em;
  min-width: 10em;
  margin-top: 5em;
  transform: scale(1.5);
  margin-bottom: 3em;
}

.center {
  text-align: center;
}

.output {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0.2em;
}

.output-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 0.1em;
  padding: 0.4em;
  border: 1px solid;
}

.output-component .sub-output-component {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 0.2em;
}

.output-component .sended {
  width: 100%;
  text-align: center;
}

:host .mat-slide-toggle.mat-checked ::ng-deep.mat-slide-toggle-bar::after {
  content: "ON";
  font-size: 45%;
  font-weight: 700;
  color: black;
  position: absolute;
  left: 4px;
  top: -5px;
}

:host .mat-slide-toggle:not(.mat-checked) ::ng-deep.mat-slide-toggle-bar::after {
  content: "OFF";
  font-size: 45%;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 21px;
  top: -5px;
}

.sended {
  width: 33%;
}

.label {
  width: 33%;
}

.selectPlace {
  display: flex;
  justify-content: center;
  margin: 2em;
}
