<div class="tab">
    <div class="sub-tab">
        <button mat-raised-button (click)="clickSearch($event)">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-raised-button (click)="clearFilter($event)">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button (click)="addPerson()">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
</div>
<app-table #tableUsers [config]="usersConfig" [data]="usersDate" [isLoadingTable]="isLoadingUsers"
    (action)="tableEvent($event)">
</app-table>