<mat-tab-group animationDuration="0ms" [(selectedIndex)]="tabSelected">
    <mat-tab [label]="this.tabs[0]">
        <div class="tab">
            <div class="sub-tab">
                <button mat-raised-button (click)="clickSearch($event)">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-raised-button (click)="clearFilter($event)">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-raised-button (click)="addPlace()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <app-table #tablePlaces [config]="placesConfig" [data]="placesDate" [isLoadingTable]="false"
            (action)="tableEvent($event)">
        </app-table>
    </mat-tab>
    <mat-tab [label]="this.tabs[1]">
        <app-map></app-map>
    </mat-tab>
    <mat-tab [label]="this.tabs[2]">
        <app-place-measurements [lastMeasurements]="lastMeasurements"></app-place-measurements>
    </mat-tab>
    <mat-tab [label]="this.tabs[3]" [disabled]="disableOutput">
        <ng-template matTabContent>
            <app-outputs [place]="this.placeSelected" [allPlaces]="this.placesDate"></app-outputs>
        </ng-template>
    </mat-tab>
</mat-tab-group>