<mat-tab-group animationDuration="0ms" [selectedIndex]="selected.value">
    <mat-tab [label]="this.tabs[0]">
        <app-table #tablePlaces [config]="placesConfig" [data]="placesDate" [isLoadingTable]="false"
            (action)="tableEvent($event)">
        </app-table>
    </mat-tab>
    <mat-tab [label]="this.tabs[1]">
        <app-map></app-map>
    </mat-tab>
    <mat-tab [label]="this.tabs[2]">
        <app-place-measurements [lastMeasurements]="lastMeasurements"></app-place-measurements>
    </mat-tab>
    <mat-tab [label]="this.tabs[3]">
        <app-outputs></app-outputs>
    </mat-tab>
</mat-tab-group>