.grap-container{
    margin: 3em;  
}

.container{
    display: flex;
    flex-direction: row;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
    color: 'accent';
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .controls{
    margin: 2em;
    display: flex;
    flex-direction: column;
  }

  .date{
    display: flex;
    flex-direction: column;
  }

  .button{
    margin-top: 1em;
  }

  .spinner{
    margin: auto;
    margin-top: 6em;
  }