<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
    <form novalidate [formGroup]="form">
        <div class="columns">
            <mat-form-field *ngFor="let column of columnsShow">
                <mat-label>{{ column.name | translate }}</mat-label>
                <input matInput *ngIf="column.type == 'text'" type="{{column.type}}" formControlName="{{ column.prop }}"
                    [readonly]="!editable">
                <input matInput *ngIf="column.type == 'email'" type="{{column.type}}"
                    formControlName="{{ column.prop }}" email [readonly]="!editable">
                <input matInput *ngIf="column.type == 'password'" type="{{column.type}}"
                    formControlName="{{ column.prop }}" [readonly]="!editable">
                <mat-select *ngIf="column.type == 'combo' && editable" formControlName="{{ column.prop }}">
                    <mat-option *ngFor="let value of column.arrayValues; index as i;"
                        value="{{column.arrayShows != undefined ? column.arrayShows[i]:''}}">
                        {{column.arrayShows != undefined ? column.arrayShows[i]:''}}</mat-option>
                </mat-select>
                <input matInput *ngIf="column.type == 'combo' && !editable" type="{{column.type}}"
                    formControlName="{{ column.prop }}" [readonly]="!editable">

                <div class="example-chip-list" appearance="fill" *ngIf="column.type == 'chip'">
                    <mat-label>{{column.arrayShows != undefined ? column.name:''}}</mat-label>
                    <mat-chip-list #chipGrid aria-label="Fruit selection">
                        <mat-chip *ngFor="let value of column.chipsSelecteds; index as i;"
                            (removed)="remove(value,column)">
                            {{ value }}
                            <button matChipRemove [attr.aria-label]="'remove '">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>

                    <input placeholder="{{column.arrayShows != undefined ? column.name:''}}" #fruitInput
                        [formControl]="fruitCtrl" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event,column)"
                        formControlName="{{ column.prop }}" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,column)">
                        <mat-option *ngFor="let value of filteredChips | async" [value]="value">
                            {{ value }}
                        </mat-option>
                    </mat-autocomplete>
                </div>


            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions class="center">
    <button mat-raised-button mat-dialog-close *ngIf="editable">Cancelar</button>
    <button mat-raised-button (click)="save()" [disabled]="this.form.status != 'VALID'">Aceptar</button>
</mat-dialog-actions>