<div class="dashboard-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggle()">
      <mat-icon *ngIf="show">menu</mat-icon>
      <mat-icon *ngIf="!show">arrow_back</mat-icon>
    </button>
    <h3>{{msg}}</h3>
    <!--
    <button mat-icon-button id="logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    -->
    <!-- <app-profile-card></app-profile-card> -->
    <h3 [style.margin-left]="'auto'" [style.margin-right]="'3em'">{{this.auth.user.user_name}}</h3>
    <button mat-raised-button matTooltip="Deslogear" (click)="logOut()">
      <mat-icon class="logout">launch</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <!--
      <img class="dashboard-sidenav-img" src="/assets/sidenav-logo.png" />
      <mat-divider></mat-divider>
      -->

      <mat-nav-list [disableRipple]="true">
        <mat-list-item *ngFor="let item of sideNavItems" [routerLink]="item.link" (click)="msg=item.text;"
          routerLinkActive="active-list-item">
          <mat-icon class="list-item-icon">{{ item.icon }}</mat-icon>
          <span class="list-item-text">{{ item.text }}</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <div class="container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>