@use '@angular/material' as mat;

.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #logout {
    margin-left: auto;
  }
}

::ng-deep .mat-list-item {
  width: 70% !important;
  margin: auto;
}
.sidenav {
  width: 250px;
  .dashboard-sidenav-img {
    display: block;
    width: 60%;
    margin: 2rem auto;
  }
}

.list-item-icon {
  margin: 10px;
  user-select: none;
  //color: $gray;
  color:black;
}

.list-item-text {
  margin: 10px;
  user-select: none;
  //color: $gray;
  color: black;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    padding: 1rem;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 4px;
    }
  }
}

.active-list-item {
  // color: mat-color($primary) !important;
  background-color: transparent !important;
  //border-right: solid 3px mat.get-color-from-palette(blue, 700) !important;
  /* border-radius: 24px; */
}

::ng-deep .mat-toolbar {
  justify-content: start !important;
  align-items: center !important;
}
.hover-class:hover {
  background-color: transparent;
}