<div class="container">
  <div class="center-collage">
    <img src="/assets/collage.png" class="collage" />
  </div>
  <div class="main">

    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <input matInput formControlName="username" type="text" placeholder="Nombre de usuario" />

        <mat-error>
          {{ loginForm.get('username')?.getError('error') }}
        </mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
          placeholder="Contraseña" />
        <mat-icon matSuffix class="pointer" (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' :
          'visibility' }}</mat-icon>

        <mat-error>{{
          loginForm.get('password')?.getError('error')
          }}</mat-error>

      </mat-form-field>
      <button mat-raised-button color="primary" class="login-button" [disabled]="loginForm.invalid"
        (click)="authenticateUser()">
        Acceder
      </button>
    </form>
  </div>
</div>