
::ng-deep .mat-sort-header-container {
  justify-content: center;
}
.full {
  width: 100%;
}

tr {
  text-align: center;
}

.table-row:hover {
  background-color: #fafafa;
}

.clickable-table-row:hover{
  background-color: #fafafa;
}

.cell {
  p {
    margin: 0;
  }
  &:hover {
    //background-color: white;
  }
  .cell-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chip-list {
    display: flex;
    justify-content: center;
  }
}
.header {
  background-color: gray;
  .header-cell {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: white;
  }
}

.align-start {
  justify-content: flex-start;
  text-align: start;
}

.sticky {
  max-height: auto;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}

.no-data {
  font-size: 20px;
  font-weight: 500;
}

::ng-deep .edit-field .mat-form-field-infix {
  width: auto !important;
  padding: 0.5em 0 !important;
  border-top: 0.3em solid transparent !important;
}

::ng-deep .mat-button.mat-accent{
  color:black !important;
}

::ng-deep
  .edit-field
  .mat-form-field-appearance-outline
  .mat-form-field-wrapper {
  padding: 0;
}

::ng-deep .edit-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 1rem;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 1rem;
}

td.mat-cell:hover{
  //background-color: #fafafa;
}

::ng-deep .mat-sort-header-arrow {
  color:black;
}

.container {
  position: relative;
}

.table-container {
  position: relative;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}